<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASUcct07fbgJDmRq5BIZbcjL8hHXT-BNs</string>
	<key>GCM_SENDER_ID</key>
	<string>1007351467446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookExchangePlatform</string>
	<key>PROJECT_ID</key>
	<string>bookexchangeplatform-25bb8</string>
	<key>STORAGE_BUCKET</key>
	<string>bookexchangeplatform-25bb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007351467446:ios:ee7a64956229b3664d0517</string>
</dict>
</plist>